.app-component {
  display: grid;
  gap: 2ch;

  padding: 1ch;

  form {
    display: grid;
    gap: 0.5ch;
  }

  textarea {
    field-sizing: content;
    resize: none;
    padding: 0.5ch;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;

    li label {
      display: flex;
      gap: 0.5ch;
    }
  }

  .terminal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1.5ch;
    width: 100%;
    align-items: start;
  }
}
