:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: monospace;
}

button {
  &:focus-visible,
  &:hover {
    font-weight: bold;
  }

  &::before {
    content: "[ ";
  }
  &::after {
    content: " ]";
  }

  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:focus:where(:not(:focus-visible)) {
  outline: none;
}
